# dist file for Inspection
git      /extensions/CommandLineParser            https://github.com/OpenEngineDK/extensions-CommandLineParser.git
git-dev  /extensions/CommandLineParser            git@github.com:OpenEngineDK/extensions-CommandLineParser.git
